html {
  height: 100%;
}

body {
  /* background-image: url('./spaceBackground.gif'); */
  background-color: black;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;  
  overflow-y: hidden;
  padding: 0;
  position: relative;
  vertical-align: middle;
}

#root {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
